.header {
  text-align: center;
  background-color: #61a6bb;
  text-transform: unset;
  color: black;
  font-size: 28px;
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  padding: 20px;
}

.main-content {
  width: 900px;
  margin: 0 auto;
  background-color: #e8f8fd;
  padding: 20px;
}

